<section id="about-us" class="about-us-bg-image ">
  <div class="container about-us">
    <div class="wrapper-text">
      <h2 class="title-about-us">About Us</h2>
      <p class="text-about-us">
        The store "Vyshyvanka Vibes" is a place where traditional Ukrainian
        vyshyvanka comes to life with new zest and style. Our store offers a
        wide selection of high-quality and authentic embroidery, which combines
        the elegance of traditional needlework and modern design.
      </p>
      <p class="text-about-us text-about-us-two">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum, debitis iste tempore perspiciatis dolore
        dicta temporibus nostrum molestiae quo magni veniam accusantium atque nam aliquam alias. Iure sit tempore unde
        quia mollitia quibusdam labore, provident sunt aspernatur eligendi harum reiciendis ea cupiditate consectetur
        libero minus dignissimos non earum veritatis, laudantium cumque vel debitis quisquam perferendis? Aspernatur,
        nam! Reprehenderit, id explicabo non quis expedita est, totam illo velit aliquam corrupti repellat beatae
        perspiciatis ex ea quidem dolores, exercitationem nesciunt ad aliquid commodi esse libero quo. Repellendus
        voluptas at in ipsa numquam omnis exercitationem eius illum ratione dolor? Voluptas enim nulla commodi ex,
        veniam esse nemo accusantium ratione eveniet cum, nam nihil qui blanditiis assumenda cumque dolore non porro
        eligendi doloribus! Quidem?
      </p>
    </div>
    <img class="img" src="./img/gallery-pictures/IMG_3608.jpg" alt="About Us" loading="lazy" width="700" />

  </div>
</section>