<div class="exp-card">
    <h2 class="exp-title">Our works</h2>
    <div class="container exp-container">

        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3542.jpg')">
            <h3>Renovation</h3>
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3543.jpg')">
            <h3>Renovation</h3>
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3544.jpg')">
            <h3>Renovation</h3>
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3545.jpg')">
            <h3>Renovation</h3>
        </div>
        <div class="panel" style="background-image: url('./img/gallery-pictures/IMG_3546.jpg')">
            <h3>Renovation</h3>
        </div>

    </div>
    <a href="./gallery.html" class="more-photos" target="_self">*Click here to see more REAL photos</a>
    <ul class="gallery"></ul>

</div>